html{
    min-height: 100%;
    position: relative
}

footer{
    background-color: hsl(217, 71%, 53%);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    color: white;
}

.resultados{
    margin: 10px 0;
}

@media only screen and (max-width: 769px){
    footer {
        height: 320px;
    }
}